<!DOCTYPE html>
<head>
	<%- include("layouts/metadata") %>
</head>

<body class="container mx-auto p-5" style="font-family: Montserrat">
	<%- include("components/nav") %>
	<main class="flex w-full h-full mt-10 flex-col md:flex-row justify-center items-center">
		<div class="h-full flex flex-col justify-center gap-7 2xl:gap-10">
			<h1 class="text-3xl xl:text-4xl 2xl:text-5xl font-semibold">
				Delivering Holiday API for your project needs
			</h1>
			<p class="max-w-2xl">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit fugit
				alias, ab nisi ducimus, minus facilis.
			</p>
			<a href="/login" class="md:mt-7 bg-[#F49D1A] w-fit text-white font-bold px-8 py-3"
				>Get Started</a
			>
		</div>
		<div class="mt-10 md:mt-0">
			<img src="/img/Group 14.svg" alt="" />
		</div>
	</main>

	<script defer>
		let url = window.location.href;

		if (url.includes("#")) {
			location.href = url.replace("#", "?");
		}
	</script>
</body>
