<nav class="flex justify-between py-5 mb-28 items-center">
	<div class="font-bold">PH Holidays &#x1F1F5;&#x1F1ED;</div>
	<div class="gap-20 hidden md:flex">
		<a
			class="relative after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Docs</a
		><a
			class="relative after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Pricing</a
		><a
			class="relative after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Donate</a
		>
	</div>
	<div class="flex gap-5 items-center right-nav">
		<a href="https://github.com/iAmWayneBenedict/ph-holidays" class="github-btn">
			<svg
				class="feather feather-github"
				xmlns="http://www.w3.org/2000/svg"
				width="22"
				height="22"
				viewbox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
				></path>
			</svg>
		</a>
		<a href="/login" class="bg-[#F49D1A] text-white py-2 px-4 font-semibold hidden md:flex">
			Get Started
		</a>
		<button
			class="hamburger flex md:hidden flex-col justify-evenly items-center w-[35px] h-[35px] z-50 transition-all duration-300"
		>
			<span class="bg-black w-full h-[2px] transition-all duration-[600ms]"></span>
			<span class="bg-black w-full h-[2px] transition-all duration-300 delay-75"></span>
			<span class="bg-black w-full h-[2px] transition-all duration-[600ms]"></span>
		</button>
	</div>
</nav>
<div
	class="backdrop z-20 hidden fixed top-0 left-0 w-full h-full bg-white transition-all duration-1000"
>
	<div class="gap-5 flex flex-col items-center justify-center w-full h-full">
		<a href="/login" class="bg-[#F49D1A] text-white py-2 px-4 font-semibold flex w-fit">
			Get Started
		</a>
		<a
			class="side-links relative w-fit after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Docs</a
		><a
			class="side-links relative w-fit after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Pricing</a
		><a
			class="side-links relative w-fit after:absolute after:bottom-[-5px] after:left-0 after:bg-[#F49D1A] after:w-0 after:h-[2px] hover:after:w-full after:transition-all"
			href=""
			>Donate</a
		>
	</div>
</div>
